/accounts/migrations/0001_initial.py
/announcements/migrations/0001_initial.py
/articles/migrations/0001_initial.py
/machines/migrations/0001_initial.py
/materials/migrations/0001_initial.py
/profiles/migrations/0001_initial.py
/results/migrations/0001_initial.py
/.idea/
/venv/
