{% extends 'base.html' %}

{% block content %}
    <h1>Details of Laser Marking Parameters</h1>
    <table class="table table-bordered">
        <tr>
            <th>Material</th>
            <td>{{ marking_parameters.material }}</td>
        </tr>
        <tr>
            <th>Laser Source</th>
            <td>{{ marking_parameters.laser_source }}</td>
        </tr>
        <tr>
            <th>Scanning Speed</th>
            <td>{{ marking_parameters.scanning_speed }}</td>
        </tr>
        <tr>
            <th>Average Power</th>
            <td>{{ marking_parameters.average_power }}</td>
        </tr>
        <tr>
            <th>Scan Step</th>
            <td>{{ marking_parameters.scan_step }}</td>
        </tr>
        <tr>
            <th>Pulse Duration</th>
            <td>{{ marking_parameters.pulse_duration }}</td>
        </tr>
        <tr>
            <th>Pulse Repetition Rate</th>
            <td>{{ marking_parameters.pulse_repetition_rate }}</td>
        </tr>
        <tr>
            <th>Overlap Coefficient</th>
            <td>{{ marking_parameters.overlap_coefficient }}</td>
        </tr>
        <tr>
            <th>Volumetric Density of Energy</th>
            <td>{{ marking_parameters.volumetric_density_of_energy }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ marking_parameters.author }}</td>
        </tr>
        <tr>
            <th>Date Published</th>
            <td>{{ marking_parameters.date_published }}</td>
        </tr>
        <tr>
            <th>Research Date</th>
            <td>{{ marking_parameters.research_date }}</td>
        </tr>
        <tr>
            <th>Color of the Mark</th>
            <td style="background-color: rgb({{ marking_parameters.color_red }},
                                             {{ marking_parameters.color_green }},
                                             {{ marking_parameters.color_blue }});
                    border: 1px solid black;">
                &nbsp;
            </td>
        </tr>
    </table>
    <table class="table table-bordered">

   <tr>
        <th>Attribute</th>
        <th>Calculated Value</th>
    </tr>
    <tr>
        <td>Volumetric Density of Energy</td>
        <td>{{ marking_parameters.calculated_volumetric_density_of_energy }}</td>
    </tr>
    <tr>
        <td>Beam Area</td>
        <td>{{ marking_parameters.calculated_beam_area }}</td>
    </tr>
    <tr>
        <td>Repetition Rate</td>
        <td>{{ marking_parameters.calculated_repetition_rate }}</td>
    </tr>
    <tr>
        <td>Brightness</td>
        <td>{{ marking_parameters.calculated_brightness }}</td>
    </tr>
    <tr>
        <td>Power Density</td>
        <td>{{ marking_parameters.calculated_power_density }}</td>
    </tr>
    <tr>
        <td>Pulse Energy</td>
        <td>{{ marking_parameters.calculated_pulse_energy }}</td>
    </tr>
    <tr>
        <td>Volumetric Energy Density</td>
        <td>{{ marking_parameters.calculated_volumetric_energy_density }}</td>
    </tr>
    <tr>
        <td>Brightness Color</td>
        <td>{{ marking_parameters.calculated_brightness_color }}</td>
    </tr>
    <tr>
        <td>Intensity</td>
        <td>{{ marking_parameters.calculated_intensity }}</td>
    </tr>
    <tr>
        <td>Energy Density</td>
        <td>{{ marking_parameters.calculated_energy_density }}</td>
    </tr>
    <tr>
        <td>Color Intensity</td>
        <td>{{ marking_parameters.calculated_color_intensity }}</td>
    </tr>

    </table>
    <a href="{% url 'laser_color_marking_db:laser_marking_parameters_list' %}">Back to List</a>
{% endblock %}
