{% extends 'base.html' %}

{% block content %}
    {% load static %}
<section class="u-clearfix u-image u-shading u-section-1" id="sec-4760"
         data-image-width="1024" data-image-height="614"
         style="background-image: url('{% static 'images/laser-marking-metal-product-edited.jpg' %}')">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width-sm u-group u-similar-fill u-group-1">
            <div class="u-container-layout u-valign-middle-sm u-container-layout-1">
                <h3 class="u-align-center u-text u-text-palette-3-light-1 u-text-1">
                    LaserParams</h3>
                <p class="u-align-center u-custom-font u-font-arial u-text u-text-2"
                   spellcheck="false">is an open-source platform that aims to
                    unify laser technology parameters for future
                    collaborations. With a vision of fostering innovation and
                    knowledge sharing, LaserParams provides a centralized
                    repository for laser-related data, specifications, and
                    settings. This platform enables researchers, engineers,
                    and enthusiasts to access and contribute to a
                    comprehensive collection of laser parameters, facilitating
                    collaboration and accelerating technological
                    advancements.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
