{% extends 'base.html' %}

{% block content %}
  <h1>Laser Source Detail</h1>
  <div>
    <h2>{{ laser_source.name }}</h2>
    <p><strong>Type of Laser:</strong> {{ laser_source.type_of_laser }}</p>
    <p><strong>Wavelength:</strong> {{ laser_source.wavelength }}</p>
  </div>
  <hr>
  <h2>Marking Parameters</h2>
  <ul>
    {% for marking_params in laser_source.lasermarkingparameters_set.all %}
      <li>
        Material: {{ marking_params.material.name }}<br>
        Scanning Speed: {{ marking_params.scanning_speed }}<br>
        Average Power: {{ marking_params.average_power }}<br>
        Scan Step: {{ marking_params.scan_step }}<br>
        Pulse Duration: {{ marking_params.pulse_duration }}<br>
        Pulse Repetition Rate: {{ marking_params.pulse_repetition_rate }}<br>
        Overlap Coefficient: {{ marking_params.overlap_coefficient }}<br>
        Volumetric Density of Energy: {{ marking_params.volumetric_density_of_energy }}
      </li>
      <hr>
    {% endfor %}
  </ul>
  <a href="{% url 'pages:laser_source_list' %}">Back to Laser Sources</a>
{% endblock %}
