{% extends 'base.html' %}

{% block content %}
    <h1>Matching Laser Marking Parameters</h1>
    <table class="table table-bordered">
        <tr>
            <th>Material</th>
            <th>Laser Source</th>
            <th>Laser Source Wavelength</th>
            <th>Scanning Speed</th>
            <th>Average Power</th>
            <th>Scan Step</th>
            <th>Pulse Duration</th>
            <th>Pulse Repetition Rate</th>
            <th>Focus</th>
            <th>Author</th>
            <th>Research Date</th>
            <th>Color of the Mark</th>
            <th>Details</th>
        </tr>
        {% for marking_parameters in matching_colors %}
            <tr>
                <td>{{ marking_parameters.material }}</td>
                <td>{{ marking_parameters.laser_source }}</td>
                <td>{{ marking_parameters.laser_source.wavelength }}</td>
                <td>{{ marking_parameters.scanning_speed }}</td>
                <td>{{ marking_parameters.average_power }}</td>
                <td>{{ marking_parameters.scan_step }}</td>
                <td>{{ marking_parameters.pulse_duration }}</td>
                <td>{{ marking_parameters.pulse_repetition_rate }}</td>
                <td>{{ marking_parameters.focus }}</td>
                <td>{{ marking_parameters.authors }}</td>
                <td>{{ marking_parameters.research_date.year }}</td>
                <td style="background-color: rgb({{ marking_parameters.color_red }},
                                                 {{ marking_parameters.color_green }},
                                                 {{ marking_parameters.color_blue }});
                            border: 1px solid black;">
                    &nbsp;
                </td>
                <td>
                    <a href="{% url 'pages:laser_marking_parameters_detail' marking_parameters.id %}" class="btn btn-primary">Details</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
