<!DOCTYPE html>
<html>
<head>
    <title>Laser Color Marking Database</title>
</head>
<body>
    <header>
        <h1>Laser Color Marking Database</h1>
        <nav>
            <ul>
                <li><a href="{% url 'author_list' %}">Authors</a></li>
                <li><a href="{% url 'machine_list' %}">Machines</a></li>
                <li><a href="{% url 'result_list' %}">Results</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
