{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaserDB</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Add your custom CSS file here if needed -->
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'laser_color_marking_db:home' %}">LaserDB</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laser_color_marking_db:about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laser_color_marking_db:contact' %}">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laser_color_marking_db:home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laser_color_marking_db:material_list' %}">Material List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laser_color_marking_db:laser_source_list' %}">Laser Sources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laser_color_marking_db:laser_marking_parameters_list' %}">Laser Marking Parameters</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'laser_cm_api:docs' %}">API Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:change_password' %}">Change password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:change_profile' %}">Change profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:change_email' %}">Change email</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:log_in' %}">Log In</a>
                </li>

                {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p></p>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <ul class="list-unstyled">
                        <li></li>
                        <li>Email: dnedyalkov396@gmail.com</li>

                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <ul class="list-inline social-media-icons">
                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">&copy; 2023 LaserParams. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    {% bootstrap_javascript %}
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- Add any additional scripts if needed -->
</body>

</html>
